<section class="min-h-screen flex flex-col justify-center items-center px-4 relative overflow-hidden">
      <!-- Decorator lines -->
      <div class="absolute top-0 left-1/2 -translate-x-1/2 w-px h-screen bg-linear-to-b from-transparent via-white/20 to-transparent"></div>

      <div class="text-center z-10 max-w-[90vw]">


        <h1 class="hero-title text-white mb-2 leading-none relative">
          <span class="block text-stroke-white text-transparent opacity-30 absolute top-0 left-0 w-full transform -translate-y-4 blur-[2px]">IDEM</span>
          IDEM
        </h1>
        <h1 class="hero-title text-transparent bg-clip-text bg-linear-to-r from-primary via-white to-primary mb-12">
          CHALLENGE
        </h1>

        <p class="text-xl md:text-3xl font-light text-gray-400 max-w-3xl mx-auto mb-16 leading-relaxed">
          Prouvez que l'Afrique construit le futur.<br>
          <span class="text-white font-medium">1 Projet. 1 Vidéo. 1 MacBook Pro à gagner.</span>
        </p>

        <div class="flex flex-col md:flex-row gap-6 justify-center items-center">
          <a routerLink="/create-project" fragment="participate" class="inner-button text-4xl font-semibold">
            Relever le défi
          </a>
          <a href="#rules" class="text-gray-400 hover:text-white uppercase tracking-widest text-sm border-b border-transparent hover:border-white transition-all pb-1">
            Voir les règles
          </a>
        </div>
      </div>

      <!-- Scroll Indicator -->
      <div class="absolute bottom-10 left-1/2 -translate-x-1/2 flex flex-col items-center gap-2 opacity-50">
        <span class="text-[10px] uppercase tracking-[0.3em]">Scroll</span>
        <div class="w-px h-16 bg-linear-to-b from-white to-transparent"></div>
      </div>
    </section>
